{% extends 'dashboard/plantilla.html.twig' %}
{% block title %}
{{empresa.nombre}} - {{usuario.nombreUsuario}}
{% endblock %}

{% block contenido %}

{% import 'components/boton_volver.html.twig' as botonVolver %}

<section class="d-flex justify-content-center">
    <div class="row">
        <div class="col-12">
            <div class="card-container mx-auto d-flex flex-column align-items-center ">

                <img class="round" src="/uploads/logotipos/{{ empresa.imagenLogotipoRuta}}" alt="Empresa" />
                <h1>{{ usuario.nombreUsuario }} {{ usuario.apellidosUsuario}}</h1>
                <h6>{{ usuario.empresa.nombre }} | {{ usuario.funcion }}</h6>

                <h6>Contactos:</h6>
                {% if usuario.contacto is not empty %}
                <ul>
                    {% for contacto in usuario.contacto %}
                    <li>{{ contacto.nombreContacto }}: {{ contacto.email }} | {{ contacto.telefono }}</li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>No hay contactos</p>
                {% endif %}

                <p class="text-center text-muted ">
                    {{ usuario.fechaCreacionUsuario|date('Y-m-d
                    H:i:s') }}
                </p>
                <div class="d-flex gap-2  ">
                    <a class="btn btn-granota btn-lg" href="{{ path('contacto_new', {'id': usuario.id})}}">Añadir
                        contacto</a>
                    <form method="post" action="{{ path('usuario_delete', {'id': usuario.id}) }}"
                        onsubmit="return confirm('¿Estás seguro que quieres borrar el usuario {{ usuario.username }} de {{ empresa.nombre }}?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ usuario.id) }}">
                        <button class="btn btn-danger btn-lg">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </form>

                    {{botonVolver.propiedades('btn btn-secondary btn-lg', path('empresa_show', {'id': empresa.id}))}}
                
                </div>

            </div>
        </div>
    </div>
</section>


{% endblock %}