{% extends 'formularios/plantilla-form.html.twig' %}

{% block title %}
Enviar Contenido
{% endblock %}

{% block formulario %}

{% import 'components/flash.html.twig' as mensajeFlash %}
{% import 'components/boton_volver.html.twig' as botonVolver %}

{# Título #}
<h3>
	<span class="custom-label text-granota">¡Hola
		{{ username }}!</span>
	<br>
	Estás enviando un <span class="text-primary">Contenido</span>
</h3>

{# Mensaje Flash #}
{{mensajeFlash.flashComponent()}}

{# Campo Frase contenido #}
<div class="mb-2 mt-3">
	<strong>Título, describe en una frase el contenido</strong>
</div>
<div class="form-outline mb-4">
	{{ form_widget(form.titulo) }}
	<label class="form-label" for="{{ form.titulo.vars.id }}"></label>
</div>

{# Campo Punto del menu #}
<div class="mb-2 mt-3">
	<strong>Punto del menu</strong>
</div>
<div class="form-outline mb-4">
	{{ form_widget(form.punto_menu) }}
	<label class="form-label" for="{{ form.punto_menu.vars.id }}"></label>
</div>

{# Campo Contenido #}
<div class="mb-2 mt-2">
	<strong>Contenido</strong>
</div>
<div class="form-outline mb-4">
	{{ form_widget(form.contenido) }}
	<label class="form-label" for="{{ form.contenido.vars.id }}"></label>
</div>

{# Campo Imágenes #}
<div class="mb-2 mt-2">
	<strong>Imágenes</strong>
</div>
<div class="form-outline mb-4">
	{{ form_widget(form.ruta_imagenes_contenidos) }}
	<label class="form-label" for="{{ form.ruta_imagenes_contenidos.vars.id }}"></label>
</div>

{# Enviar Formulario #}
<div class="col-12 gap-2">
	<div class="pt-1 mb-4">
		{{ form_row(form.submit) }}
	</div>

	{{botonVolver.propiedades('btn btn-primary', path('dashboard_empresa')) }}

</div>

{% endblock %}