{% extends 'formularios/plantilla-form.html.twig' %}

{% block title %}
Enviar Incidencia
{% endblock %}

{% block formulario %}

{% import 'components/flash.html.twig' as mensajeFlash %}
{% import 'components/boton_volver.html.twig' as botonVolver %}

{# Título #}
<h3>
	<span class="custom-label text-granota">¡Hola
		{{ username }}!</span>
	<br>
	Estás enviando una Incidencia
</h3>
<p>
	Recuerda dar todos los detalles posibles para que podamos hacer realidad tu<br>
	proyecto. Si tienes alguna duda no dudes en contactar con nosotros.</p>

{# Mensaje Flash #}
{{mensajeFlash.flashComponent()}}


{# Campo Título #}
<div class="mb-2 mt-3">
	<strong>Título</strong>
</div>
<div class="form-outline mb-4">
	{{ form_widget(form.titulo) }}
</div>

{# Campo tipo #}
<div class="mb-2 mt-3">
	<strong>¿De qué es el problema?</strong>
</div>
<div class="form-outline mb-4">
	{{ form_widget(form.tipo) }}
</div>

{# Campo Descripción #}
<div class="mb-2 mt-3">
	<strong>Descripción</strong>
</div>
<div class="form-outline form-floating mb-4">
	{{ form_widget(form.descripcion) }}
	<label class="form-label" for="{{ form.descripcion.vars.id }}">¿Cuál es el problema?</label>
</div>

{# Campo Urls #}
<div class="mb-2 mt-3">
	<strong>URLs</strong>
</div>
<div class="form-outline form-floating mb-4">
	{{ form_widget(form.url) }}
	<label class="form-label" for="{{ form.url.vars.id }}">Enlace/s a la web/s que da/n
		problema/s</label>
</div>

{# Campo Imagen #}
<div class="mb-2 mt-3">
	<strong>Imagen del problema</strong>
</div>
<div class="form-outline mb-4">
	{{ form_widget(form.ruta_imagenes) }}
	<label class="form-label" for="{{ form.ruta_imagenes.vars.id }}"></label>
</div>

{# Enviar formulario #}
<div class="col-12 gap-2">
	<div class="pt-1 mb-4">
		{{ form_row(form.submit) }}
	</div>
	<a href="{{ path('dashboard_empresa') }}" class="btn btn-primary">Volver</a>

	{{botonVolver.propiedades('btn btn-primary', path('dashboard_clientes')) }}

</div>

{% endblock %}