{% extends 'formularios/plantilla-form.html.twig' %}

{% block title %}
	Registro de usuarios
{% endblock %}

{% block body %}

{% import 'components/flash.html.twig' as mensajeFlash %}

<section class="vh-100 d-flex align-items-center justify-content-center">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-black">
				<div class="d-flex flex-column align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">

					{{ form_start(form, {'attr': {'class': 'custom-form'}}) }}

					<h3 class="fw-bold mb-3 pb-3" style="letter-spacing: 1px;">
						<span class="custom-label" style="color: #99c21e">¡Hola administrador!</span>
						<br>
						Estás creando un usuario para
						<span class="text-primary">{{empresa.nombre}}</span>
					</h3>
					
					{# MENSAJE FLASH #}
					{{mensajeFlash.flashComponent()}}

					{# Personalizar el renderizado de cada campo #}
					<div class="form-outline form-floating mb-4">
						{{ form_widget(form.username) }}
						<label class="form-label" for="{{ form.username.vars.id }}">Usuario</label>
					</div>

					<div class="form-outline form-floating mb-4">
						{{ form_widget(form.funcion) }}
						<label class="form-label" for="{{ form.funcion.vars.id }}">¿Qué rol tiene en la empresa?</label>
					</div>

					<div class="form-outline form-floating mb-4">
						{{ form_widget(form.nombre_usuario) }}
						<label class="form-label" for="{{ form.nombre_usuario.vars.id }}">Nombre</label>
					</div>
					<div class="form-outline form-floating mb-4">
						{{ form_widget(form.apellidos_usuario) }}
						<label class="form-label" for="{{ form.apellidos_usuario.vars.id }}">Apellidos</label>
					</div>

					<div class="form-outline form-floating mb-4">
						{{ form_widget(form.password) }}
						<label class="form-label" for="{{ form.password.vars.id }}">Contraseña</label>
					</div>


					<div class="col-12 gap-2">
						<div class="pt-1 mb-4">
							{{ form_row(form.submit) }}
						</div>
						{%- include 'components/boton_volver.html.twig' with {
						'clase': 'btn btn-secondary',
						'ruta':path('empresa_show', {'id': empresa.id}),
						} -%}
					</div>

					<p class="small mb-5 pb-lg-2 mt-3 text-muted">Recuerda añadir los métodos de contacto después*</p>

					{{ form_end(form) }}

				</div>
			</div>
		</div>
	</div>
</section>


{% endblock %}