{% extends 'formularios/plantilla-form.html.twig' %}

{% block title %}
Nueva web
{% endblock %}

{% block formulario %}

{% import 'components/flash.html.twig' as mensajeFlash %}
{% import 'components/boton_volver.html.twig' as botonVolver %}

{# Título #}
<h3>
    <span class="custom-label text-granota">¡Hola
        administrador!</span>
    <br>
    Estás añadiendo una web a <span class="text-primary">{{empresa.nombre}}</span>
</h3>

{# Mensaje Flash #}
{{mensajeFlash.flashComponent()}}

{# Campo nombre web #}
<div class="mb-2 mt-3">
    <strong>¿Cómo se llama web?</strong>
</div>
<div class="form-outline mb-2">
    {{ form_widget(form.web) }}
    <label class="form-label" for="{{ form.web.vars.id }}"></label>
</div>

{# Campo Descripción web #}
<div class="mb-2 mt-2">
    <strong>¿Qué es está web?</strong>
</div>
<div class="form-outline mb-2">
    {{ form_widget(form.descripcion_web) }}
    <label class="form-label" for="{{ form.descripcion_web.vars.id }}"></label>
</div>

{# Enviar Form #}
<div class="col-12 gap-2 ">

    <div class="pt-1 mb-4">
        {{ form_row(form.submit) }}
    </div>

    {{botonVolver.propiedades('btn btn-primary', path('empresa_show', {'id': empresa.id}))}}

</div>



{% endblock %}