{% extends 'plantillas/plantilla-cliente.html.twig' %}

{% block title %}
	Dashboard {{empresa.nombre}}
{% endblock %}

{% block contenido %}

{% import 'components/flash.html.twig' as mensajeFlash %}

{{mensajeFlash.flashComponent()}}

<!-- MODAL -->
<div class="modal fade" id="visitarWeb" tabindex="-1" aria-labelledby="visitarWebLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="visitarWebLabel">Webs de
					<span class="text-primary fw-bold ">
						{{empresa.nombre}}</span>
				</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				{% if empresa.web %}
				<ul>
					{% for web in empresa.web %}

					<li>
						<a href="https://{{ web.web }}">{{ web.web }}</a>
					</li>

					{% endfor %}
				</ul>
				{% else %}

				<p>Aún no hay web :)</p>

				{% endif %}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>
<!-- END MODAL -->

<div class="container parent__cliente">
	<div class="empresa">
		<h1 class="fw-bold">Hola,
			<span class="text-primary">{{usuario.nombreusuario}}
			</span> de
			<br>
			<span class="text-granota">{{empresa.nombre}}</span>
		</h1>
		<p>Bienvenido a tu espacio de proyecto✨✨
			<br> Estamos encantados de tenerte aquí y agradecemos profundamente tu
			confianza en nosotros. Siempre estamos aquí para ayudarte a gestionar tus proyectos de manera efectiva y
			satisfactoria. 
			<br>¡Gracias por confiar en nosotros!
		</p>
	</div>
	<div class="web">
		<p>Página/s web</p>
		<a href="#" class="btn btn-granota visitar-web">Visitar</a>
	</div>
	<div class="briefing">
		<h2 class="fw-bold">Briefing</h2>
		<p>Este es el primer paso para llevar a cabo tu proyecto
			<br>
			¿Empezamos?
		</p>
		{% if briefingweb.activo %}
		<a href="{{ path('briefing_web_new') }}" class="btn btn-granota">Rellenar Web</a>
		{% endif %}

		{% if briefingapp.activo %}
		<a href="{{ path('briefing_app_new') }}" class="btn btn-granota">Rellenar App</a>
		{% endif %}

		{% if briefinglogo.activo %}
		<a href="{{ path('briefing_logo_new') }}" class="btn btn-granota">Rellenar Logo</a>
		{% endif %}

	</div>
	<div class="incidencia">
		<h2 class="fw-bold">Informar de una
			<span class="text-danger">Incidencia</span>
		</h2>
		<p>Lamentamos oír eso. Por favor rellene el formulario que encontrará a continuación y en la mayor brevedad
			posible solucionaremos su incidencia.</p>
		<a href="{{ path('incidencia_new') }}" class="btn btn-danger">Rellenar Incidencia</a>
	</div>
	<div class="contenido">
		<h2 class="fw-bold">Solicitar Contenido</h2>
		<p>Para enviar contenido que quieras que aparezce en tu página web, háznoslo saber completando el formulario, y nos pondremos a trabajar en ello.</p>
		<a href="{{ path('contenido_new') }}" class="btn btn-granota">Rellenar Contenido</a>

	</div>

</div>
<div class="col-12 mt-4">
	<p class="text-center text-muted ">Si tienes alguna duda no olvides contactar con nosotros</p>
</div>

<script>
	// MODAL
	$(document).ready(function () {
		var myModal = new bootstrap.Modal(document.getElementById('visitarWeb'));
		myModal.hide();

		document.querySelectorAll('.visitar-web').forEach(item => {
			item.addEventListener('click', event => {
				event.preventDefault(); // Evitar comportamiento predeterminado del enlace

				// Abre el modal
				myModal.show(); // No es necesario crear una nueva instancia aquí
			});
		});
	});
</script>
{% endblock %}