{% extends 'plantillas/plantilla-granota.html.twig' %}

{% block title %}
Contenido del Briefing Web de
{{empresa.nombre}}
{% endblock %}

{% import 'components/boton_volver.html.twig' as botonVolver %}

{% block contenido %}
<section class="d-flex justify-content-center align-items-center" style="height: 100vh;">
	<div class="row">
		<div class="col-12">
			<div class="card-container mx-auto text-center">

				<img class="round" src="/uploads/logotipos/{{ empresa.imagenLogotipoRuta }}" alt="Empresa" />
				<h1>Contenido de: <span class="text-primary">{{ empresa.nombre }}</span> </h1>
				<h6>{{ contenido.isActivo ? 'Activo' : 'Desactivado' }} | {{ contenido.puntoMenu }}</h6>
				<h6> {{ contenido.titulo}} </h6>

				<p>{{ contenido.contenido }}</p>
				{% if contenido.rutaImagenesContenidos %}
				<img src="/uploads/contenidos/{{ contenido.rutaImagenesContenidos}}" alt="contenido"
					style="width: 200px;  margin-right: 20px;">
				{% else %}
				No hay imagen disponible.
				{% endif %}

				<div class="d-flex justify-content-center gap-2">
					<form method="post" action="{{ path('contenido_delete', {'id': contenido.id}) }}"
						onsubmit="return confirm('¿Estás seguro que quieres borrar el contenido de {{empresa.nombre}}?');"
						class="d-inline">
						<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contenido.id) }}">
						<button class="btn btn-danger">
							<i class="fa-solid fa-trash"></i>
						</button>
					</form>

					{{ botonVolver.propiedades('btn btn-secondary btn-lg', path('dashboard_contenidos')) }}

				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
