{% extends 'dashboard/plantilla_pdf.html.twig' %}

{% block title %}Briefing Web de
	{{empresa.nombre}}
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1>Briefing App de:
					<span class="text-primary">{{ empresa.nombre }}
					</span>
				</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-12">
				<table class="table">
					<tbody>
						<tr>
							<th>Id</th>
							<td>{{ briefing_app.id }}</td>
						</tr>
						<tr>
							<th>Activo</th>
							<td>
								{{ briefing_app.isActivo ? 'si' : 'no' }}
							</td>
						</tr>
						<tr>
							<th>Lo ha creado el usuario</th>
							<td>{{ usuario.username }}</td>
						</tr>
						<tr>
							<th>Descripci칩n de la empresa</th>
							<td>{{ briefing_app.descripcionEmpresa }}</td>
						</tr>
						<tr>
							<th>Descripci칩n del proyecto</th>
							<td>{{ briefing_app.descripcionProyecto }}</td>
						</tr>
						<tr>
							<th>Objetivos</th>
							<td>{{ briefing_app.objetivos }}</td>
						</tr>
						<tr>
							<th>Competencia</th>
							<td>{{ briefing_app.competencia }}</td>
						</tr>
						<tr>
							<th>Naming/slogan</th>
							<td>{{ briefing_app.namingSlogan }}</td>
						</tr>
						<tr>
							<th>Imagen para la app</th>
							<td>
								<img src="/uploads/logotipos/{{ briefing_app.imagenLogotipoRuta}}" alt="Logo" class="rounded-circle" style="width: 40px; height: 40px; margin-right: 20px;">
							</td>
						</tr>
						<tr>
							<th>Gama crom치tica</th>
							<td>{{ briefing_app.gamaCromatica }}</td>
						</tr>
						<tr>
							<th>Estructura de la aplicaci칩n</th>
							<td>{{ briefing_app.estructuraApp }}</td>
						</tr>
						<tr>
							<th>Fecha en la que se ha enviado</th>
							<td>{{ briefing_app.fechaCreacionBriefingApp ? briefing_app.fechaCreacionBriefingApp|date('Y-m-d H:i:s')}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

{% endblock %}
