{% extends 'plantillas/plantilla-granota.html.twig' %}

{% block title %}
Briefing App de {{empresa.nombre}}
{% endblock %}

{% block contenido %}

{% import 'components/boton_volver.html.twig' as botonVolver %}

<section class="d-flex justify-content-center align-items-center" style="height: 100vh;">
	<div class="row">
		<div class="col-12">
			<div class="card-container mx-auto text-center">

				<img class="round" src="/uploads/logotipos/{{ empresa.imagenLogotipoRuta }}" alt="logo de Empresa" />
				<h1>Briefing App de: <span class="text-primary">{{ empresa.nombre }}</span></h1>
				<h6>{{ briefing_app.id }} | {{ briefing_app.estado }} | {{ briefing_app.isActivo ? 'Asignado' : 'No
					asignado' }}</h6>

				<h6>Empresa</h6>
				<p>{{ briefing_app.descripcionEmpresa ? briefing_app.descripcionEmpresa : 'no hay descripción' }}</p>

				<h6>Proyecto</h6>
				<p>{{ briefing_app.descripcionProyecto ? briefing_app.descripcionProyecto : 'no hay descripción' }}</p>

				<h6>Objetivos</h6>
				<p>{{ briefing_app.objetivos ? briefing_app.objetivos : 'no hay objetivos'}}</p>

				<h6>Competencia</h6>
				<p>{{ briefing_app.competencia ? briefing_app.competencia : 'no tiene' }}</p>

				<h6>Naming/slogan</h6>
				<p>{{ briefing_app.namingSlogan ? briefing_app.namingSlogan : 'no hay'}}</p>

				<h6>Imagen para la app</h6>
				<img src="/uploads/logotipos/{{ briefing_app.imagenLogotipoRuta }}" alt="Logo" class="rounded-circle"
					style="width: 40px; height: 40px; margin-right: 20px;">

				<h6>Gama cromática</h6>
				<p>{{ briefing_app.gamaCromatica ? briefing_app.gamaCromatica : 'no hay' }}</p>

				<h6>Estructura de la aplicación</h6>
				<p>{{ briefing_app.estructuraApp ? briefing_app.estructuraApp : 'no hay' }}</p>

				<p class="text-muted">{{ briefing_app.fechaCreacionBriefingApp ?
					briefing_app.fechaCreacionBriefingApp|date('Y-m-d
					H:i:s')}}</p>

				<div class="d-flex justify-content-center gap-2">

					<form method="post" action="{{ path('briefing_app_delete', {'id': briefing_app.id}) }}"
						onsubmit="return confirm('¿Estás seguro que quieres borrar el briefing app de {{empresa.nombre}}?');"
						class="d-inline">
						<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ briefing_app.id) }}">
						<button class="btn btn-danger">
							<i class="fa-solid fa-trash"></i>
						</button>
					</form>

					{{botonVolver.propiedades('btn btn-secondary', path('dashboard_briefings'))}}
					
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}