{% extends 'dashboard/plantilla.html.twig' %}

{% block title %}Briefing Web de
{{empresa.nombre}}
{% endblock %}
{% block stylesheets %}
{{ parent() }}
{% endblock %}
{% block contenido %}
<div class="container">
	<div class="row">
		<div class="col-12">
			<h1>Briefing Web de:
				<span class="text-primary">{{ empresa.nombre }}
				</span>
			</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<table class="table">
				<tbody>
					<tr>
						<th>Id</th>
						<td>{{ briefing_web.id }}</td>
					</tr>
					<tr>
						<th>Lo ha creado el usuario</th>
						<td>{{ usuario.username }}</td>
					</tr>
					<tr>
						<th>Activo</th>
						<td>
							{{ briefing_web.isActivo ? 'si' : 'no' }}
						</td>
					</tr>
					<tr>
						<th>Descripción de la empresa</th>
						<td>{{ briefing_web.descripcionEmpresa }}</td>
					</tr>
					<tr>
						<th>Descripción del proyecto</th>
						<td>{{ briefing_web.descripcionProyecto }}</td>
					</tr>
					<tr>
						<th>Prodyctos y/o servicios</th>
						<td>{{ briefing_web.productosYOServicios }}</td>
					</tr>
					<tr>
						<th>Objetivos</th>
						<td>{{ briefing_web.objetivos }}</td>
					</tr>
					<tr>
						<th>Competencia</th>
						<td>{{ briefing_web.competencia }}</td>
					</tr>
					<tr>
						<th>Webs de ejemplos</th>
						<td>
							{{ briefing_web.webEjemplo }}
						</td>
					</tr>
					<tr>
						<th>Funciones</th>
						<td>{{ briefing_web.funciones }}</td>
					</tr>
					<tr>
						<th>Dispone de logo</th>
						<td>
							{% if briefing_web.disponeLogo %}
							Sí
							{% else %}
							No
							{% endif %}
						</td>
					</tr>
					<tr>
						<th>Dispone de Manual de Marca</th>
						<td>
							{% if briefing_web.disponeLogo %}
							Sí
							{% else %}
							No
							{% endif %}
						</td>
					</tr>
					<tr>
						<th>Dispone de Colores Corporativos</th>
						<td>
							{% if briefing_web.disponeColoresCorporativos %}
							Sí
							{% else %}
							No
							{% endif %}
						</td>
					</tr>
					<tr>
						<th>Dispone de Recursos de Diseño</th>
						<td>
							{% if briefing_web.disponeRecursosDisenyo %}
							Sí
							{% else %}
							No
							{% endif %}
						</td>
					</tr>
					<tr>
						<th>¿Necesita mantenimiento?</th>
						<td>
							{% if briefing_web.mantenimiento %}
							Sí
							{% else %}
							No
							{% endif %}
						</td>
					</tr>
					<tr>
						<th>Dominio</th>
						<td>{{ briefing_web.dominio }}</td>
					</tr>
					<tr>
						<th>Comentarios</th>
						<td>{{ briefing_web.comentarios }}</td>
					</tr>
					<tr>
						<th>Fecha en la que se ha enviado</th>
						<td>{{ briefing_web.fechaCreacionBriefingWeb ? briefing_web.fechaCreacionBriefingWeb|date('Y-m-d
							H:i:s') }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-12 d-flex gap-2">
			<a href="{{ path('dashboard_briefings') }}" class="btn btn-primary">Volver</a>
			<form method="post" action="{{ path('briefing_web_delete', {'id': briefing_web.id}) }}"
				onsubmit="return confirm('¿Estás seguro que quieres borrar el briefing app de {{empresa.nombre}}?');"
				class="d-inline">
				<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ briefing_web.id) }}">
				<button class="btn btn-danger">
					<i class="fa-solid fa-trash"></i>
				</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}