{% extends 'plantillas/plantilla-granota.html.twig' %}

{% block title %}
Dashboard Briefings
{% endblock %}

{% block stylesheets %}
<style>
	li .empresa {
		flex-basis: 45%;
	}

	li .code {
		flex-basis: 5%;
	}

	li .estado {
		flex-basis: 20%;
	}

	li .tipo {
		flex-basis: 10%;
	}

	li .activo {
		flex-basis: 5%;
	}

	li .ver {
		flex-basis: 5%;
	}

	li .pdf {
		flex-basis: 5%;
	}

	li .borrar {
		flex-basis: 5%;
	}
</style>
{% endblock %}

{% block contenido %}

{% import 'components/flash.html.twig' as mensajeFlash %}
{% import 'components/filtros.html.twig' as filtrosComponent %}

<div class="container" style="margin-top: 5%">
	<div class="row">

		{# MENSAJE FLASH #}
		{{mensajeFlash.flashComponent()}}

		<div class="col-md-12 col-lg-6 mb-4 mb-md-0">
			<h5>Listado de briefings</h5>
		</div>
		<div class="col-md-12 col-lg-6 mt-md-2">
			<div class="d-flex justify-content-lg-end">
				{{ filtrosComponent.propiedades(path('dashboard_briefings') ) }}
			</div>
		</div>

	</div> 

	<div class="row">
		<div class="col-12">
			<ul class="custom-table">
				{% for briefing in pagination %}
				{% if briefing.isActivo %}
				<li class="table-row">
					<div class="colo colo-1">{{ briefing.id }}</div>
					<div class="colo empresa">
						<img src="/uploads/logotipos/{{ briefing.empresa.imagenLogotipoRuta }}" alt="Logo"
							class="rounded-circle">
						<span>{{ briefing.empresa.nombre }}</span>
					</div>
					<div class="colo code text-muted">{{ briefing.empresa.code }}</div>
					<div class="colo estado">{{ briefing.estado }}</div>
					<div class="colo tipo">
						{{ briefing.tipo|capitalize }}
					</div>
					<div class="colo activo">{{ briefing.isActivo ? '<i class="fa-solid fa-thumbs-up text-granota"></i>'
						: '<i class="fa-solid fa-thumbs-down text-danger"></i>'
						}}</div>
					<div class="colo ver">
						<a href="{{ path('briefing_' ~ briefing.tipo|lower ~ '_show', {'id': briefing.id}) }}">
							<i class="fa-solid fa-eye text-primary"></i>
						</a>
					</div>
					<div class="colo pdf">
						<a href="{{ path('briefing_' ~ briefing.tipo|lower ~ '_pdf', {'id': briefing.id}) }}">
							<i class="fa-solid fa-download  text-primary"></i>
						</a>
					</div>
					<div class="colo borrar">
						<form method="post"
							action="{{ path('briefing_' ~ briefing.tipo|lower ~ '_delete', {'id': briefing.id}) }}"
							onsubmit="return confirm('¿Estás seguro que quieres borrar el briefing de {{ briefing.tipo|capitalize }} de {{ briefing.empresa.nombre }}?');">
							<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ briefing.id) }}">
							<button class="btn p-0 ">
								<i class="fa-solid fa-trash text-danger"></i>
							</button>
						</form>
					</div>
				</li>
				{% endif %}
				{% endfor %}
			</ul>
		</div>
		<div class="col-12">
			{{ knp_pagination_render(pagination)}}
		</div>
	</div>
</div>

{% endblock %}