{% extends 'dashboard/plantilla.html.twig' %}

{% block title %}Dashboard Briefings
{% endblock %}
{% block stylesheets %}
{{ parent() }}
{% endblock %}
{% block contenido %}

<section class="vh-100 d-flex align-items-center justify-content-center">
	<div class="container">
		<div class="row">

			<div class="col-12">
				<h5>Listado de Briefings</h5>
				{# Mensaje exito #}
				{% for flashMessage in app.flashes('success') %}
				<div class="alert alert-success">
					{{ flashMessage }}
				</div>
				{% endfor %}
				{# Mensaje error #}
				{% for flashMessage in app.flashes('error') %}
				<div class="alert alert-danger">
					{{ flashMessage }}
				</div>
				{% endfor %}

			</div>

			<div class="col-12">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Id</th>
							<th>Empresa</th>
							<th class="text-center">Usuario</th>
							<th class="text-center">Code</th>
							<th class="text-center">Tipo</th>
							<th class="text-center">Activo</th>
							<th class="text-center">Ver</th>
							<th class="text-center">Pdf</th>
							<th class="text-center">Borrar</th>

						</tr>
					</thead>
					<tbody>
						{% for briefing in briefings %}
						<tr>
							<td class="align-middle">{{ briefing.id }}</td>
							<td class="align-middle">
								<img src="/uploads/logotipos/{{ briefing.usuario.empresa.imagenLogotipoRuta }}"
									alt="Logo" class="rounded-circle"
									style="width: 40px; height: 40px; margin-right: 20px;">
								<span>{{ briefing.usuario.empresa.nombre }}</span>
							</td>
							<td class="align-middle text-center">{{ briefing.usuario.username }}</td>
							<td class="align-middle text-center text-muted">{{ briefing.usuario.empresa.code }}</td>
							<td class="align-middle text-center">
								{{ briefing.tipo|capitalize }}
							</td>
							<td class="align-middle text-center">{{ briefing.isActivo ? 'si' : 'no' }}</td>
							<td class="align-middle text-center">
								<a href="{{ path('briefing_' ~ briefing.tipo|lower ~ '_show', {'id': briefing.id}) }}">
									<i class="fa-solid fa-eye"></i>
								</a>
							</td>
							<td class="align-middle text-center">
								<a href="{{ path('briefing_' ~ briefing.tipo|lower ~ '_pdf', {'id': briefing.id}) }}">
									<i class="fa-solid fa-download"></i>
								</a>
							</td>
							<td class="align-middle text-center">
								<form method="post"
									action="{{ path('briefing_' ~ briefing.tipo|lower ~ '_delete', {'id': briefing.id}) }}"
									onsubmit="return confirm('¿Estás seguro que quieres borrar el briefing de {{ briefing.tipo|capitalize }} de {{ briefing.usuario.empresa.nombre }}?');">
									<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ briefing.id) }}">
									<button class="btn">
										<i class="fa-solid fa-trash" style="color:red;"></i>
									</button>
								</form>
							</td>
						</tr>
						{% else %}
						<tr>
							<td colspan="8">No se han encontrado briefings.</td>
						</tr>
						{% endfor %}
					</tbody>

				</table>
			</div>
		</div>
	</div>
</section>
{% endblock %}