{% extends 'plantillas/plantilla-granota.html.twig' %}
{% block title %}Dashboard Clientes{% endblock %}
{% block stylesheets %}
<style>
	li .empresa {
		flex-basis: 40%;
	}

	li .code {
		flex-basis: 10%;
	}

	li .activo {
		flex-basis: 10%;
	}

	li .ver {
		flex-basis: 10%;
	}

	li .editar {
		flex-basis: 10%;
	}

	li .borrar {
		flex-basis: 10%;
	}

	li .nohay {
		flex-basis: 100%;
	}
</style>
{% endblock %}
{% block contenido %}

{% import 'components/flash.html.twig' as mensajeFlash %}

<div style="height:160px;"></div>
<div class="container">
	<div class="row">

		{# MENSAJE FLASH #}
		{{mensajeFlash.flashComponent()}}

		<div class="col-12 mb-4 d-flex justify-content-between">
			<h5>Listado de clientes</h5>
			<a class="btn btn-granota" href="{{ path('empresa_new') }}">Nuevo Cliente</a>
		</div>

		<div class="col-12">
			<ul class="custom-table">
				{% for empresa in pagination %}
				<li class="table-row">
					<div class="colo colo-1">{{ empresa.id }}</div>
					<div class="colo empresa"><img src="/uploads/logotipos/{{ empresa.imagenLogotipoRuta }}" alt="Logo"
							class="rounded-circle">
						<span class="nombre-empresa-span">{{ empresa.nombre }}</span>
					</div>
					<div class="colo code text-muted">{{ empresa.code }}</div>
					<div class="colo activo">{{ empresa.activo ? '<i class="fa-solid fa-thumbs-up"
							style="color:#99c21e;"></i>' : '<i class="fa-solid fa-thumbs-down text-danger"></i>'
						}}
					</div>
					<div class="colo ver"><a href="{{ path('empresa_show', {'id': empresa.id}) }}">
							<i class="fa-solid fa-eye text-primary"></i>
						</a>
					</div>
					<div class="colo editar"><a href="{{ path('empresa_edit', {'id': empresa.id}) }}">
							<i class="fa-solid fa-pen-to-square text-primary"></i>
						</a>
					</div>
					<div class="colo borrar">
						<form method="post" action="{{ path('empresa_delete', {'id': empresa.id}) }}"
							onsubmit="return confirm('¿Estás seguro que quieres borrar la empresa {{empresa.nombre}}?');">
							<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ empresa.id) }}">
							<button class="btn">
								<i class="fa-solid fa-trash text-danger"></i>
							</button>
						</form>
					</div>
				</li>
				{% else %}
				<li class="table-row">
					<div class="colo nohay">No hay registros :)</div>
				</li>
				{% endfor %}

			</ul>
		</div>

		<div class="col-12">
			{{ knp_pagination_render(pagination)}}
		</div>
	</div>
</div>

{% endblock %}