{% extends 'dashboard/plantilla.html.twig' %}
{% block title %}Dashboard Gestor de contenido
{% endblock %}
{% block stylesheets %}
{{ parent() }}
{% endblock %}
{% block contenido %}

<section class="d-flex vh-100 justify-content-center align-items-center">
	<div class="container">
		<div class="row">
			<div class="col-12">
				{% for flashMessage in app.flashes('success') %}
				<div class="alert alert-success">
					{{ flashMessage }}
				</div>
				{% endfor %}

				{% for flashMessage in app.flashes('error') %}
				<div class="alert alert-danger">
					{{ flashMessage }}
				</div>
				{% endfor %}
				<h5>
					Gestor de contenidos
				</h5>
			</div>

			<div class="col-12">


				<table class="table table-striped">
					<thead>
						<tr>
							<th>Id</th>
							<th>Empresa</th>
							<th class="text-center">Code</th>
							<th class="text-center">Título</th>
							<th class="text-center">Activo</th>
							<th class="text-center">Ver</th>
							<th class="text-center">Descargar</th>
							<th class="text-center">Borrar</th>
						</tr>
					</thead>

					<tbody>
						{% for contenido in contenidos %}
						<tr>
							<td class="align-middle">{{ contenido.id }}</td>
							<td class="align-middle">
								<img src="/uploads/logotipos/{{ contenido.briefingWeb.empresa.imagenLogotipoRuta}}"
									alt="Logo" class="rounded-circle"
									style="width: 40px; height: 40px; margin-right: 20px;">
								<span>{{ contenido.briefingWeb.empresa.nombre }}</span>
							</td>
							<td class="align-middle text-muted text-center">
								{{contenido.briefingWeb.empresa.code}}</td>
							<td class="align-middle text-center">{{ contenido.titulo }}</td>
							<td class="align-middle text-center">
								{{ contenido.isActivo ? 'si' : 'no' }}
							</td>
							<td class="align-middle text-center">
								<a href="{{ path('contenido_show', {'id': contenido.id}) }}">
									<i class="fa-solid fa-eye"></i>
								</a>
							</td>
							<td class="align-middle text-center">
								<a href="{{ path('contenido_pdf', {'id': contenido.id}) }}">
									<i class="fa-solid fa-download"></i>
								</a>
							</td>
							<td class="align-middle text-center">
								<form method="post" action="{{ path('contenido_delete', {'id': contenido.id}) }}"
									onsubmit="return confirm('¿Estás seguro que quieres borrar el contenido {{contenido.titulo}}?');">
									<input type="hidden" name="_token"
										value="{{ csrf_token('delete' ~ contenido.id) }}">
									<button class="btn">
										<i class="fa-solid fa-trash" style="color:red;"></i>
									</button>
								</form>
							</td>
						</tr>
						{% else %}
						<tr>
							<td colspan="8">no records found</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>


{% endblock %}