{% extends 'plantillas/plantilla-granota.html.twig' %}
{% block title %}Dashboard Incidencias
{% endblock %}
{% block stylesheets %}
<style>
	li .empresa {
		flex-basis: 40%;
	}

	li .code {
		flex-basis: 10%;
	}

	li .titulo {
		flex-basis: 15%;
	}

	li .tipo {
		flex-basis: 10%;
	}

	li .solucionado {
		flex-basis: 5%;
	}

	li .ver {
		flex-basis: 5%;
	}

	li .pdf {
		flex-basis: 5%;
	}

	li .borrar {
		flex-basis: 5%;
	}

	li .nohay {
		flex-basis: 100%;
	}
</style>
{% endblock %}
{% block contenido %}

{% import 'components/flash.html.twig' as mensajeFlash %}

<div style="height:160px;"></div>
<div class="container">

	<div class="row">
		<div class="col-12 mb-4">

			{# MENSAJE FLASH #}
			{{mensajeFlash.flashComponent()}}

			<h5>Listado de Incidencias</h5>
		</div>

		<div class="col-12">
			<ul class="custom-table">
				{% for incidencia in pagination %}
				{% if incidencia.solucionado == false %}
				{# Verifica si la incidencia está asociada a un briefing web o app y establece el tipo correspondiente
				#}
				{% set tipo = incidencia.briefingWeb ? "web" : "app" %}

				{# Inicializa las variables de empresa e imagenLogotipoRuta #}
				{% set empresa = null %}
				{% set imagenLogotipoRuta = null %}

				{# Verifica el tipo de incidencia y asigna la empresa y la ruta de la imagen del logotipo
				correspondientes #}
				{% if tipo == "web" %}
				{% set empresa = incidencia.briefingWeb.empresa %}
				{% set imagenLogotipoRuta = empresa.imagenLogotipoRuta %}
				{% elseif tipo == "app" %}
				{% set empresa = incidencia.briefingApp.empresa %}
				{% set imagenLogotipoRuta = empresa.imagenLogotipoRuta %}
				{% endif %}

				<li class="table-row">
					<div class="colo colo-1">{{ incidencia.id }}</div>
					<div class="colo empresa">
						<img src="/uploads/logotipos/{{ imagenLogotipoRuta }}" alt="Logo" class="rounded-circle">
						<span>{{ empresa ? empresa.nombre : '' }}</span>
					</div>
					<div class="colo text-muted code">{{ empresa.code}}</div>
					<div class="colo titulo">{{ incidencia.titulo }}</div>
					<div class="colo tipo">{{ incidencia.tipo }}</div>
					<div class="colo solucionado">{{ incidencia.solucionado ? '<i
							class="fa-solid fa-thumbs-up text-granota"></i>' : '<i
							class="fa-solid fa-thumbs-down text-danger"></i>' }}</div>
					<div class="colo ver">
						<a href="{{ path('incidencia_show', {'id': incidencia.id}) }}">
							<i class="fa-solid fa-eye text-primary"></i>
						</a>
					</div>
					<div class="colo pdf">
						<a href="{{ path('incidencia_pdf', {'id': incidencia.id}) }}">
							<i class="fa-solid fa-download text-primary"></i>
						</a>
					</div>
					<div class="colo borrar">
						<form method="post" action="{{ path('incidencia_delete', {'id': incidencia.id}) }}"
							onsubmit="return confirm('¿Estás seguro que quieres borrar la incidencia {{incidencia.titulo}}?');">
							<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ incidencia.id) }}">
							<button class="btn">
								<i class="fa-solid fa-trash text-danger"></i>
							</button>
						</form>
					</div>
				</li>
				{% endif %}
				{% else %}
				<li class="table-row">
					<div class="colo no hay">No se han encontrado registros :)</div>
				</li>
				{% endfor %}
			</ul>

		</div>
		<div class="col-12">
			{{ knp_pagination_render(pagination)}}
		</div>
	</div>
</div>


{% endblock %}