{% extends 'dashboard/plantilla.html.twig' %}
{% block title %}Dashboard Incidencias
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block contenido %}

	<div style="height: 160px;"></div>


	<div class="row">
		<div class="col-12">
			{% for flashMessage in app.flashes('success') %}
				<div class="alert alert-success">
					{{ flashMessage }}
				</div>
			{% endfor %}

			{% for flashMessage in app.flashes('error') %}
				<div class="alert alert-danger">
					{{ flashMessage }}
				</div>
			{% endfor %}
		</div>

		<div class="col-12">

			<h1>Listado de Incidencias</h1>

			<table class="table table-striped">
				<thead>
					<tr>
						<th>Id</th>
						<th>Empresa</th>
						<th>Code</th>
						<th>Título</th>
						<th>Tipo</th>
						<th>Ver</th>
						<th>Descargar</th>
						<th>Borrar</th>
					</tr>
				</thead>
				<tbody>
					{% for incidencia in incidencias %}
						<tr>
							<td class="align-middle">
								{{incidencia.id}}
							</td>
							<td class="align-middle">
								<img src="https://placehold.jp/3d4070/ffffff/30x30.png?text=logo%20company" alt="Logo" class="rounded-circle" style="width: 40px; height: 40px; margin-right: 20px;">
								<span>{{ incidencia.briefingWeb ? incidencia.briefingWeb.usuario.empresa.nombre : (incidencia.briefingApp ? incidencia.briefingApp.usuario.empresa.nombre : '') }}</span>
							</td>
							<td class="align-middle text-muted">Code</td>
							<td class="align-middle">{{incidencia.titulo}}</td>
							<td class="align-middle">{{incidencia.tipo}}</td>

							<td class="align-middle">
								<a href="{{ path('incidencia_show', {'id': incidencia.id}) }}">
									<i class="fa-solid fa-eye"></i>
								</a>
							</td>
							<td class="align-middle">
								<a href="{{ path('incidencia_pdf', {'id': incidencia.id}) }}">
									<i class="fa-solid fa-download"></i>
								</a>
							</td>
							<td class="align-middle">
								<form method="post" action="{{ path('incidencia_delete', {'id': incidencia.id}) }}" onsubmit="return confirm('¿Estás seguro que quieres borrar la incidencia {{incidencia.titulo}}?');">
									<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ incidencia.id) }}">
									<button class="btn">
										<i class="fa-solid fa-trash"></i>
									</button>
								</form>
							</td>
						</tr>

					{% else %}
						<tr>
							<td colspan="8">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>


{% endblock %}
