{% extends 'plantillas/plantilla-granota.html.twig' %}
{% block title %}
	Dashboard Inicio
{% endblock %}
{% block contenido %}

{% import 'components/logo_my-project.html.twig' as myproject_logo %}
{% import 'components/logo_granota.html.twig' as granota_logo %}

<div class="row mt-3 p-3 mb-4">
	<!-- BIENVENIDA -->
	<div class="col-md-6 mb-3">
		<h1 class="fw-bold"> ¡Hola! <span class="text-granota">administrador</span>
			<br> Bienvenido a {{ myproject_logo.propiedades('225px') }}
		</h1>

		<p>
			La aplicación web para gestionar clientes. Permite administrar briefings,
			incidencias y contenido compartido por los clientes. Con <span
				class="text-primary fw-bold">myproject</span>, las empresas pueden mejorar la
			comunicación y la eficiencia en la gestión de sus proyectos con <span
				class="text-granota fw-bold">granota</span>.</p>
	</div>
	<!-- END BIENVENIDA -->
	<!-- LOGO GRANOTA -->
	<div class="col-md-6 mb-3">
		{{ granota_logo.propiedades() }}
	</div>
	<!-- END LOGO GRANOTA -->
	<!-- BRIEFINGS -->
	<div class="col-md-6 mt-3 col-sm-12">
		<ul class="custom-table">
			<li class="table-head">ÚLTIMOS BRIEFINGS</li>
			{% for briefing in ultimosbriefingsWeb %}
			<a href="{{ path('briefing_' ~ briefing.tipo|lower ~ '_show', {'id': briefing.id}) }}">
				<li class="table-row row-inicio">
					<div class="colo" style="flex-basis:70%;">
						<img src="/uploads/logotipos/{{ briefing.empresa.imagenLogotipoRuta }}" alt="Logo"
							class="rounded-circle">
						<span>{{ briefing.empresa.nombre }}</span>
					</div>
					<div class="colo text-muted" style="flex-basis:15%;">{{ briefing.empresa.code }}</div>
					<div class="colo" style="flex-basis:15%;">
						{{ briefing.tipo|capitalize }}
					</div>
				</li>
			</a>
			{% endfor %}
		</ul>
	</div>
	<!-- END BRIEFINGS -->
	<!-- CLIENTES -->
	<div class="col-md-6 mt-3 col-sm-12">
		<ul class="custom-table">
			<li class="table-head">ÚLTIMOS CLIENTES</li>

			{% for empresa in ultimosclientes %}
			<a href="{{ path('empresa_show', {'id': empresa.id}) }}">
				<li class="table-row row-inicio">
					<div class="colo" style="flex-basis:80%;">
						<img src="/uploads/logotipos/{{ empresa.imagenLogotipoRuta }}" alt="Logo"
							class="rounded-circle">
						<span class="nombre-empresa-span">{{ empresa.nombre }}</span>
					</div>
					<div class="align-middle text-muted text-center" style="flex-basis:20%;">{{ empresa.code }}</div>
				</li>
			</a>
			{% endfor %}

		</ul>
	</div>
	<!-- END CLIENTES -->
	<!-- INCIDENCIAS -->
	<div class="col-md-6 col-sm-12">
		<ul class="custom-table">
			<li class="table-head">ÚLTIMAS INCIDENCIAS</li>
			{% for incidencia in ultimasincidencias %}
			<a href="{{ path('incidencia_pdf', {'id': incidencia.id}) }}">
				<li class="table-row row-inicio">
					<div class="colo" style="flex-basis:70%;">
						{% if incidencia.briefingweb is not null and incidencia.briefingweb.empresa is not null %}
						<img src="/uploads/logotipos/{{ incidencia.briefingweb.empresa.imagenLogotipoRuta }}" alt="Logo"
							class="rounded-circle">


						<span>{{ incidencia.briefingweb.empresa.nombre }}</span>
						{% endif %}
					</div>
					<div class="colo" style="flex-basis:20%;">{{incidencia.titulo}}</div>
					<div class="colo" style="flex-basis:10%;">{{incidencia.tipo}}</div>
				</li>
			</a>
			{% endfor %}
		</ul>
	</div>
	<!-- END INCIDENCIAS -->
	<!-- CONTENIDOS -->
	<div class="col-md-6 col-sm-12">
		<ul class="custom-table">
			<li class="table-head">ÚLTIMOS CONTENIDOS</li>
			{% for contenido in ultimoscontenidos %}
			<a href="{{ path('contenido_show', {'id': contenido.id}) }}">
				<li class="table-row row-inicio">
					<div class="colo" style="flex-basis:60%;">
						<img src="/uploads/logotipos/{{ contenido.briefingWeb.empresa.imagenLogotipoRuta}}" alt="Logo"
							class="rounded-circle">
						<span>{{ contenido.briefingWeb.empresa.nombre }}</span>
					</div>
					<div class="colo text-muted" style="flex-basis:10%;">
						{{contenido.briefingWeb.empresa.code}}
					</div>
					<div class="colo" style="flex-basis:30%;">{{ contenido.titulo }}</div>
				</li>
			</a>
			{% endfor %}
		</ul>
	</div>
	<!--END CONTENIDOS-->

</div>
{% endblock %}