{% extends 'dashboard/plantilla.html.twig' %}
{% block title %}Dashboard Inicio
{% endblock %}
{% block stylesheets %}
{{ parent() }}
<style>
	p {
		width: 700px;
		text-wrap: balance;
	}

	.custom-table li {
		border-radius: 3px;
		padding: 15px 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 10px;
		text-align: center;
		transition: transform 0.3s ease;
	}
</style>
{% endblock %}
{% block contenido %}
<div class="row mt-3 p-3">
	<!-- BIENVENIDA -->
	<div class="col-md-6 mb-3">
		<h1 class=" text-black fw-bold" style="letter-spacing: 1px;"> ¡Hola! <span class="granota">administrador</span>
			<br> Bienvenido a <svg xmlns="http://www.w3.org/2000/svg" fill="#0275d8" stroke-width="1"
				style="width: 225px;" viewbox="0 0 641.3 125.88">
				<g id="Capa_2" data-name="Capa 2">
					<g id="Capa_1-2" data-name="Capa 1">
						<path
							d="M98.89,26.45C95,23.5,89.63,22,83.05,22a29.1,29.1,0,0,0-11.89,2.56,37.9,37.9,0,0,0-9.82,6.31,33.2,33.2,0,0,0-2.77,2.81,23.05,23.05,0,0,0-5.42-6.35C48.79,23.8,43.14,22,36.34,22A27.3,27.3,0,0,0,26,24a32,32,0,0,0-8.63,5.21l-.76.66a8.25,8.25,0,0,0-2.16-4.29A8.2,8.2,0,0,0,8.4,23.08a8.29,8.29,0,0,0-6,2.43A8.43,8.43,0,0,0,0,31.62V90.34a8.5,8.5,0,0,0,2.38,6,8.14,8.14,0,0,0,6,2.55,8.13,8.13,0,0,0,6-2.54,8.53,8.53,0,0,0,2.39-6v-37A13.58,13.58,0,0,1,19,45.8a17,17,0,0,1,6.1-5.69A16.73,16.73,0,0,1,33.51,38c3.19,0,5.68.64,7.39,1.9a10.85,10.85,0,0,1,3.82,5.28A24.43,24.43,0,0,1,46,53.35v37a8.5,8.5,0,0,0,2.27,6,8.54,8.54,0,0,0,12.25,0,8.65,8.65,0,0,0,2.27-6V53.76A14,14,0,0,1,65.07,46a17.48,17.48,0,0,1,14.74-8c3.29,0,5.88.66,7.68,2a11,11,0,0,1,3.94,5.38,25.66,25.66,0,0,1,1.31,8.4V90.34a8.49,8.49,0,0,0,2.39,6,8.11,8.11,0,0,0,6,2.55,8.27,8.27,0,0,0,6.15-2.55,8.46,8.46,0,0,0,2.39-6V53.49a47,47,0,0,0-2.39-15.36A24.26,24.26,0,0,0,98.89,26.45Z" />
						<path
							d="M178.23,22a8.31,8.31,0,0,0-6.15,2.55,8.5,8.5,0,0,0-2.39,6V68.75a14.39,14.39,0,0,1-2.18,7.8,16,16,0,0,1-5.87,5.64,16.37,16.37,0,0,1-8.25,2c-4.81,0-8.17-1.19-10.29-3.63s-3.32-6.52-3.32-11.86V30.54a8.62,8.62,0,0,0-2.27-5.94,8.44,8.44,0,0,0-12.14-.05,8.49,8.49,0,0,0-2.39,6V71.31A35,35,0,0,0,126,86a23.78,23.78,0,0,0,9.17,10.47,27.61,27.61,0,0,0,14.75,3.76,34.07,34.07,0,0,0,11.32-1.86,29.71,29.71,0,0,0,8.37-4.51,21.32,21.32,0,0,1-2.1,7.18,15.38,15.38,0,0,1-6.46,6.65A22.19,22.19,0,0,1,150.42,110a21.36,21.36,0,0,1-8.11-1.46c-2.68-1.1-4.77-2-6.15-2.57a7.1,7.1,0,0,0-6.49.05A8.9,8.9,0,0,0,125.5,111a7.11,7.11,0,0,0,.47,6.5,11,11,0,0,0,4.84,4.17,32.54,32.54,0,0,0,8.7,3.1,50,50,0,0,0,10.77,1.15,41.4,41.4,0,0,0,18.26-3.95,31.15,31.15,0,0,0,13.21-12.22c3.24-5.4,4.88-12.28,4.88-20.45V30.54a8.5,8.5,0,0,0-2.39-6A8.11,8.11,0,0,0,178.23,22Z" />
						<path
							d="M256.1,27.06A33.28,33.28,0,0,0,238,22a32.6,32.6,0,0,0-18.23,5.59,29.22,29.22,0,0,0-2.53,1.95A8.45,8.45,0,0,0,203,25.11a8.42,8.42,0,0,0-2.43,6.1v86.13a8.43,8.43,0,0,0,2.43,6.11,8.25,8.25,0,0,0,6,2.43,8.11,8.11,0,0,0,6.13-2.59,8.69,8.69,0,0,0,2.27-6V92.45c.59.47,1.2.93,1.83,1.37a36.17,36.17,0,0,0,8.68,4.42A31.18,31.18,0,0,0,238.3,100a32.47,32.47,0,0,0,17.9-5.14,36.2,36.2,0,0,0,12.51-14,42.8,42.8,0,0,0,4.59-19.94,42.65,42.65,0,0,0-4.6-20A35.57,35.57,0,0,0,256.1,27.06ZM219.46,48.89a20,20,0,0,1,7-8A18.33,18.33,0,0,1,236.82,38a18,18,0,0,1,10.23,2.88,20.75,20.75,0,0,1,7.08,8,26.13,26.13,0,0,1,2.64,12,26.68,26.68,0,0,1-2.65,12,20.65,20.65,0,0,1-7.07,8.15A18,18,0,0,1,236.82,84a18.41,18.41,0,0,1-10.32-2.89,19.53,19.53,0,0,1-7-8.12,27.06,27.06,0,0,1-2.6-12A26.61,26.61,0,0,1,219.46,48.89Z" />
						<path
							d="M327.47,23.14a13.94,13.94,0,0,0-7-1.81,25.93,25.93,0,0,0-10.38,2.07,27.52,27.52,0,0,0-8.32,5.6c-.55.53-1.07,1.08-1.57,1.65A8.38,8.38,0,0,0,298,25.56a8.61,8.61,0,0,0-12.05,0,8.42,8.42,0,0,0-2.43,6.1V90.34a8.48,8.48,0,0,0,2.38,6,8.37,8.37,0,0,0,12,0,8.5,8.5,0,0,0,2.39-6V57.54a21.4,21.4,0,0,1,1.48-8,24.53,24.53,0,0,1,4-6.74A19.84,19.84,0,0,1,311,38.27a10.37,10.37,0,0,1,5.2-1.49,6.31,6.31,0,0,1,2.71.49,10.41,10.41,0,0,0,4.71,1.13,7.79,7.79,0,0,0,5.45-2.25,8.5,8.5,0,0,0,2.41-6.42A7.39,7.39,0,0,0,327.47,23.14Z" />
						<path
							d="M401.9,40.54a37.91,37.91,0,0,0-13.62-14.06A37,37,0,0,0,369,21.33a37.23,37.23,0,0,0-33.05,19.21,40.56,40.56,0,0,0-5.05,20.24A40.56,40.56,0,0,0,335.93,81,37.29,37.29,0,0,0,369,100.23a37,37,0,0,0,19.3-5.15A37.91,37.91,0,0,0,401.9,81,40.56,40.56,0,0,0,407,60.78,40.56,40.56,0,0,0,401.9,40.54ZM390,60.78A25.65,25.65,0,0,1,387.2,73a21.35,21.35,0,0,1-7.6,8.26,19.38,19.38,0,0,1-10.62,3,19.63,19.63,0,0,1-10.75-3A22.19,22.19,0,0,1,350.56,73a25.17,25.17,0,0,1-2.88-12.2,25.09,25.09,0,0,1,2.87-12.25,22.29,22.29,0,0,1,7.68-8.23,19.63,19.63,0,0,1,10.75-3,19.38,19.38,0,0,1,10.62,3,21.46,21.46,0,0,1,7.6,8.2A25.56,25.56,0,0,1,390,60.78Z" />
						<path
							d="M434.22,2a10.39,10.39,0,0,0-6.78-2,11,11,0,0,0-6.83,2,7.85,7.85,0,0,0-2.92,6.57v1.88a8,8,0,0,0,2.7,6.5c1.65,1.37,3.91,2,6.91,2a10.57,10.57,0,0,0,6.8-2,7.88,7.88,0,0,0,2.82-6.53V8.54A8,8,0,0,0,434.22,2Z" />
						<path
							d="M427.44,23a8.17,8.17,0,0,0-6,2.54,8.5,8.5,0,0,0-2.38,6V98a13.45,13.45,0,0,1-1,5.34,8.4,8.4,0,0,1-2.48,3.3,11.58,11.58,0,0,1-4.18,2,11.06,11.06,0,0,0-4.62,2.42,7.17,7.17,0,0,0-2.34,5.48v.94a8,8,0,0,0,8.13,8,21.63,21.63,0,0,0,11.1-3.11,25.28,25.28,0,0,0,8.65-8.56,24.71,24.71,0,0,0,3.5-13.33v-69a8.66,8.66,0,0,0-2.28-5.95A8.07,8.07,0,0,0,427.44,23Z" />
						<path
							d="M510.15,31.25a33.14,33.14,0,0,0-11.28-7.42,35.55,35.55,0,0,0-13.11-2.5,33.94,33.94,0,0,0-17.38,4.8,36.05,36.05,0,0,0-13.25,13.81c-3.35,6-5,13.2-5,21.52a40.7,40.7,0,0,0,4.83,20,35.37,35.37,0,0,0,13.7,13.78,41.12,41.12,0,0,0,20.51,5,34.3,34.3,0,0,0,15-3.4A37.8,37.8,0,0,0,515.25,89a8.38,8.38,0,0,0,3.07-6.34,7.61,7.61,0,0,0-7.59-7.59,9.13,9.13,0,0,0-5.22,1.75l-.27.18-.22.24a26.49,26.49,0,0,1-3.82,3.33A19.75,19.75,0,0,1,496,83.19a24.67,24.67,0,0,1-18.93-2A20.82,20.82,0,0,1,469.3,73a23.6,23.6,0,0,1-2.42-7.33h45.74a8.54,8.54,0,0,0,5.76-2.16A7.57,7.57,0,0,0,521,57.62a38.38,38.38,0,0,0-3.09-14.93A37.79,37.79,0,0,0,510.15,31.25ZM468.23,49.72a20,20,0,0,1,4.44-7,17.42,17.42,0,0,1,6.1-3.92,19.33,19.33,0,0,1,15.21.57,18.76,18.76,0,0,1,6.64,5.31,13.19,13.19,0,0,1,2.64,5.72H468C468.07,50.14,468.15,49.93,468.23,49.72Z" />
						<path
							d="M585.25,77.49a7.64,7.64,0,0,0-5.75,2.28,13.57,13.57,0,0,1-2.87,2.15,22.54,22.54,0,0,1-4.17,1.63,24.85,24.85,0,0,1-6.65.69,20.3,20.3,0,0,1-11.22-3A21.21,21.21,0,0,1,547,72.89a25.92,25.92,0,0,1-2.76-12.11,24.94,24.94,0,0,1,2.87-12.06,22.33,22.33,0,0,1,7.81-8.35,21.19,21.19,0,0,1,11.43-3,30,30,0,0,1,5.64.55A16.18,16.18,0,0,1,575.86,39a8.74,8.74,0,0,1,2.07,1.44,16.64,16.64,0,0,0,2.65,2.15,8.21,8.21,0,0,0,4.54,1.22A7,7,0,0,0,590.89,41a8.71,8.71,0,0,0,1.82-5.31c0-3.11-1.48-5.86-4.38-8.16a27.22,27.22,0,0,0-9.86-4.59,51.51,51.51,0,0,0-13.33-1.59,36.28,36.28,0,0,0-33,19.54,41.93,41.93,0,0,0-4.74,19.91A43.28,43.28,0,0,0,532,80.71a35.71,35.71,0,0,0,13,14.27,36.39,36.39,0,0,0,19.55,5.25,46.42,46.42,0,0,0,13.86-2,31.22,31.22,0,0,0,10.15-5c3-2.39,4.5-5,4.5-7.61a8.37,8.37,0,0,0-2-5.61A7.44,7.44,0,0,0,585.25,77.49Z" />
						<path
							d="M633.31,39.48a7.84,7.84,0,0,0,5.7-2.3,7.7,7.7,0,0,0,2.29-5.56,8.13,8.13,0,0,0-2.24-5.72,7.76,7.76,0,0,0-5.75-2.41H624V13.67a8.66,8.66,0,0,0-2.28-5.95,8,8,0,0,0-6-2.59,8.54,8.54,0,0,0-8.54,8.54v9.82h-5.63a8.21,8.21,0,0,0-5.61,2.2,7.84,7.84,0,0,0-.05,11.47,8,8,0,0,0,5.66,2.32h5.63V79.27c0,4.69.72,8.3,2.18,11.06a14.53,14.53,0,0,0,5.72,6.15,17.1,17.1,0,0,0,6.62,2.12c1.93.18,3.59.28,5,.28a15.2,15.2,0,0,0,7.88-2.11c3.55-2.11,4.3-4.81,4.3-6.69A7.7,7.7,0,0,0,637,84.77a6.22,6.22,0,0,0-4.73-2.28,8.65,8.65,0,0,0-3.64.75,2.68,2.68,0,0,1-1.08.19,5.31,5.31,0,0,1-2-.4,2,2,0,0,1-1-1,7,7,0,0,1-.53-3.34V39.48Z" />
					</g>
				</g>
			</svg>
		</h1>

		<p>
			La aplicación web para gestionar clientes. Permite administrar briefings,
			incidencias y contenido compartido por los clientes. Con <span
				class="text-primary fw-bold">myproject</span>, las empresas pueden mejorar la
			comunicación y la eficiencia en la gestión de sus proyectos con <span
				class="granota fw-bold">granota</span>.</p>
	</div>
	<!-- END BIENVENIDA -->
	<!-- LOGO GRANOTA -->
	<div class="col-md-6 mb-3">
		<svg xmlns="http://www.w3.org/2000/svg" style="width: 300px;" class="mx-auto d-block"
			viewBox="0 0 373.42 142.39">
			<defs>
				<style>
					.cls-1 {
						fill: #96c121;
					}

					.cls-2 {
						fill: #3a96db;
					}
				</style>
			</defs>
			<g id="Capa_2" data-name="Capa 2">
				<g id="Capa_1-2" data-name="Capa 1">
					<path class="cls-1"
						d="M121.25,73.53a28.08,28.08,0,0,1,5.91.63l-2.2-9.5s-2.59-9.07-7.64,0c-1.5,2.69-4.09,6.67-6.08,10.72A27.94,27.94,0,0,1,121.25,73.53Z" />
					<path class="cls-1"
						d="M93.24,101.54a28,28,0,0,1,15.59-25.11C105.2,63.72,99.19,57.3,95,54.94a44,44,0,0,0,9.62,0c6.21-.82,4.53-3.82,4.31-5.52-.64-4.86-2.68-18.21-2.68-18.21s-.61-14.62,2.82-18.57c14.6-4-5.81-11.48-1.72-1,.58,1.48-2.45,4.7-4.56,4.4-2.46-.37-3.31-7.44-3.58-9.67,7.59-11.62-10.59-4.74-1.7,0,.6,2.47,2.18,10.88.25,13,0,0-4.71.44-5.5-1-4.35-7.37-12.49,6.51-1.39,2.29,2.22-.26,6.44,4.09,7.12,5.21.09.16.17.24.12.42-.2.88-2.68,3.73-3.11,3.46-13.3-8.55-5.51,13,0,2.69.3-.55,4.12-2.62,4.64-2.93,3-1.78,4.41,10.92,3.43,15.79a1,1,0,0,1-1,.85c-7.38.32-19.41,1.81-25.45-.84C73.27,42.6,72.94,33.67,70.8,30c-3.53-6.12-10.54-4.55-14.86-5.25C40.7,22.28,40.32,28.11,39.2,35.5c-.44,3-8.53,11.76,7.19,21,2.88,1.7,6.89,5,4.86,13-1.08,4.32-3.91,15.33-4.94,18.24-.14.38-.56.85-.94.73-2.24-.69-11.25-3.36-14.21-5-7.82-4.43-.56-7.69,1.16-9.06,11.19.62-2.77-15.1-2.91-1.06-.62.67-3.76,5.61-6.54,1a9.32,9.32,0,0,1-1.11-3.7c8-8.25-11.62-7.71-1.69.05.76,1,.22,2.31-1,3.07C16.86,75,9.51,69.26,7.51,68.28c0-9.74-14.41,3.3-.94,2.34,2,1.75,8,4.63,7.73,7.13-.45.93-5,2.78-7.92,2.4-8.59-9.23-8.59,9.83.49,1.74,3.43-.87,9.38.89,12.33,1.58C26.08,85.07,38,89.9,44.62,93.6a2.91,2.91,0,0,0,2.48,0c4.16-2.24,9-9.52,9-9.52S58.81,95.24,61,98.5s8.11,5,14.58,7.3c-8.92,1.3-23.62.69-28.53,3.75-.88.55-.71,2.44-.21,3.42,2.26,4.49,11.71,9,18.87,12.1a.75.75,0,0,1,.14,1.3c-2.6,1.78-9-.81-13.5-3.38-1.2-.58-7.32-3.52-8.68-5.33-1.14-11.6-13.5,3.64-2.39,1.27,1.13,1.15,8.12,4.51,7.34,5.53s-9.58,2.18-11.92.93c-9.72-8.93-8.82,10.07,0,1.79,2.18.33,10,.66,10.46,2.67s-3.26,5.2-5.31,6.61c-11.27-4.81-.82,13.84.9,1.81,2.64-1.41,6.83-6,10-6.46,18.67-2.83,25.27,5,32.13,1.69,1.75-1.89-2.35-5-3.88-7.08-1.89-2.57-8.11-5.64-10.24-8.3,15.46.76,13.52-1.92,17.92-1.82a43.83,43.83,0,0,0,8.32-.87A27.84,27.84,0,0,1,93.24,101.54Z" />
					<path class="cls-2" d="M322.6,128.27v-4.12h4.12v4.12Z" />
					<path class="cls-2"
						d="M345.09,128.27H341v-7.94a12.58,12.58,0,0,0-.26-3.26,2.3,2.3,0,0,0-.86-1.15,2.41,2.41,0,0,0-1.43-.41,3.32,3.32,0,0,0-1.92.58,2.92,2.92,0,0,0-1.16,1.56,13.29,13.29,0,0,0-.32,3.57v7.05h-4.11V112.71h3.82V115a6.25,6.25,0,0,1,5.13-2.63,6.18,6.18,0,0,1,2.49.49,4.13,4.13,0,0,1,1.7,1.25,4.45,4.45,0,0,1,.81,1.73,12.9,12.9,0,0,1,.23,2.77Z" />
					<path class="cls-2"
						d="M358.27,123.31l4.1.69a6.74,6.74,0,0,1-2.5,3.44,7.39,7.39,0,0,1-4.27,1.18,7,7,0,0,1-6-2.65,8.91,8.91,0,0,1-1.54-5.37,8.57,8.57,0,0,1,2-6,6.66,6.66,0,0,1,5.11-2.19,6.9,6.9,0,0,1,5.48,2.29q2,2.3,1.92,7H352.28a4.19,4.19,0,0,0,1,2.85,3.13,3.13,0,0,0,2.38,1,2.47,2.47,0,0,0,1.62-.53A3.25,3.25,0,0,0,358.27,123.31Zm.23-4.16a3.93,3.93,0,0,0-.92-2.71,3,3,0,0,0-4.36,0,3.76,3.76,0,0,0-.87,2.66Z" />
					<path class="cls-2"
						d="M373.08,112.71V116h-2.81v6.27a14.65,14.65,0,0,0,.08,2.22.89.89,0,0,0,.36.52,1.16,1.16,0,0,0,.7.2,5.35,5.35,0,0,0,1.65-.39l.36,3.19a8.24,8.24,0,0,1-3.26.62,5.09,5.09,0,0,1-2-.38,2.89,2.89,0,0,1-1.31-1,3.72,3.72,0,0,1-.58-1.61,19.69,19.69,0,0,1-.13-2.9V116h-1.89v-3.28h1.89v-3.09l4.13-2.4v5.49Z" />
					<path class="cls-1"
						d="M128.59,88.46q-4.32-5.83-11-5.83a14,14,0,0,0-10.75,4.75q-4.33,4.75-4.33,13.74a20.7,20.7,0,0,0,3.3,12,13.19,13.19,0,0,0,11.41,6.09q6.47,0,10.71-5.79v5.22a14.48,14.48,0,0,1-.44,4.35,4.6,4.6,0,0,1-1.88,2.39,11.06,11.06,0,0,1-5.56,1.11,7.13,7.13,0,0,1-4.24-1,3.73,3.73,0,0,1-1.25-2.6l-10.8-1.31c0,.45,0,.83,0,1.15a9.77,9.77,0,0,0,3.81,7.89q3.8,3.12,12.89,3.11a26.27,26.27,0,0,0,8-1,13,13,0,0,0,5-2.79,11.73,11.73,0,0,0,2.92-4.92,31.75,31.75,0,0,0,1.05-9.46V83.44h-8.85Zm-2.83,20.38a7.52,7.52,0,0,1-5.86,2.71,6.82,6.82,0,0,1-5.44-2.64q-2.2-2.64-2.2-8.33c0-3.62.73-6.3,2.2-8.07a7,7,0,0,1,5.61-2.64,7.3,7.3,0,0,1,5.79,2.69q2.3,2.7,2.29,8.25Q128.15,106.14,125.76,108.84Z" />
					<path class="cls-1"
						d="M159.24,83.78a15.12,15.12,0,0,0-4.06,4.75V83.44h-8.79v35.75h9.46v-11q0-9.12.79-12a7.51,7.51,0,0,1,2.18-4,5.23,5.23,0,0,1,3.36-1.09,8.27,8.27,0,0,1,4.45,1.55l2.93-8.25a12,12,0,0,0-6.23-1.79A7.48,7.48,0,0,0,159.24,83.78Z" />
					<path class="cls-1"
						d="M202.55,107.45l.1-11c0-4.1-.42-6.93-1.26-8.46A9.42,9.42,0,0,0,197,84.13q-3.1-1.5-9.43-1.5c-4.64,0-8.15.83-10.5,2.5a13.36,13.36,0,0,0-5,7.67l8.59,1.55A6.88,6.88,0,0,1,183,90.87a6.69,6.69,0,0,1,3.94-1q3.73,0,5.08,1.16a4.9,4.9,0,0,1,1.35,3.89v.94a51.32,51.32,0,0,1-9.19,2.33,31.44,31.44,0,0,0-7.53,2.2,9.42,9.42,0,0,0-4,3.64,10.11,10.11,0,0,0-1.45,5.4,10,10,0,0,0,3.18,7.58q3.18,3,8.7,3a14.75,14.75,0,0,0,5.89-1.18,17,17,0,0,0,5.19-3.53c.06.18.18.55.33,1.11.36,1.24.67,2.17.91,2.79h9.36a20.53,20.53,0,0,1-1.7-4.79A38.76,38.76,0,0,1,202.55,107.45Zm-9.19-3.54a19,19,0,0,1-.37,4.61,5.88,5.88,0,0,1-2.26,3.13,8.14,8.14,0,0,1-4.88,1.69,5.19,5.19,0,0,1-3.77-1.45,4.64,4.64,0,0,1-1.48-3.43,4,4,0,0,1,1.85-3.34,17.34,17.34,0,0,1,5.15-1.65c2.63-.56,4.54-1,5.76-1.44Z" />
					<path class="cls-1"
						d="M242.12,86.64a9.55,9.55,0,0,0-3.92-2.88,14.65,14.65,0,0,0-17.51,4.93V83.44h-8.78v35.75h9.46V103q0-6,.72-8.21a6.8,6.8,0,0,1,2.68-3.57,7.56,7.56,0,0,1,4.41-1.35,5.68,5.68,0,0,1,3.28.94,5.22,5.22,0,0,1,2,2.65c.4,1.13.61,3.63.61,7.49v18.24h9.46V97a29.35,29.35,0,0,0-.53-6.36A10.28,10.28,0,0,0,242.12,86.64Z" />
					<path class="cls-1"
						d="M270.32,82.63A19.5,19.5,0,0,0,260.81,85a15.83,15.83,0,0,0-6.58,6.73,19.33,19.33,0,0,0-2.33,9.12,21.73,21.73,0,0,0,2.33,10.46,15.15,15.15,0,0,0,6.78,6.51,20.77,20.77,0,0,0,9.38,2.22,17.7,17.7,0,0,0,13.17-5.33,18.43,18.43,0,0,0,5.24-13.45,18.22,18.22,0,0,0-5.18-13.32A17.87,17.87,0,0,0,270.32,82.63Zm6.24,26.84a8.27,8.27,0,0,1-12.44,0q-2.52-2.84-2.52-8.15c0-3.55.84-6.26,2.52-8.15a8.25,8.25,0,0,1,12.44,0q2.51,2.83,2.51,8.08T276.56,109.47Z" />
					<path class="cls-1"
						d="M308.76,112.16a2.7,2.7,0,0,1-1.6-.47,2.18,2.18,0,0,1-.84-1.2,36.8,36.8,0,0,1-.18-5.1V91h6.46V83.44h-6.46V70.82l-9.5,5.52v7.1H292.3V91h4.34v15.59a44.21,44.21,0,0,0,.31,6.66,8.69,8.69,0,0,0,1.33,3.69,6.69,6.69,0,0,0,3,2.22,11.73,11.73,0,0,0,4.61.86,18.93,18.93,0,0,0,7.48-1.41l-.81-7.34A12.12,12.12,0,0,1,308.76,112.16Z" />
					<path class="cls-1"
						d="M327,111.18a4.61,4.61,0,0,1-.86-2.72,3.94,3.94,0,0,1,1.85-3.34,17.13,17.13,0,0,1,5.15-1.65q3.93-.84,5.75-1.44v1.88a18.45,18.45,0,0,1-.37,4.61s0,.1,0,.15h9.62c0-.39,0-.8,0-1.22l.11-11c0-4.1-.43-6.93-1.27-8.46a9.37,9.37,0,0,0-4.36-3.81q-3.09-1.5-9.42-1.5-7,0-10.51,2.5a13.39,13.39,0,0,0-5,7.67l8.58,1.55a6.94,6.94,0,0,1,2.29-3.48,6.74,6.74,0,0,1,3.94-1c2.5,0,4.19.39,5.09,1.16a4.93,4.93,0,0,1,1.34,3.89v.94a51.07,51.07,0,0,1-9.19,2.33,31.48,31.48,0,0,0-7.52,2.2,9.5,9.5,0,0,0-4.06,3.64,10.2,10.2,0,0,0-1.45,5.4,10,10,0,0,0,3.19,7.58,11,11,0,0,0,5.65,2.72v-4.34A6.66,6.66,0,0,1,327,111.18Z" />
					<path class="cls-2"
						d="M364.23,62.32a8.91,8.91,0,0,1,3.38,3.43,9.89,9.89,0,0,1,1.22,4.9,10,10,0,0,1-1.22,4.93A8.83,8.83,0,0,1,364.23,79a10.3,10.3,0,0,1-9.8,0,8.83,8.83,0,0,1-3.38-3.45,9.93,9.93,0,0,1-1.22-4.93,9.79,9.79,0,0,1,1.22-4.9,8.91,8.91,0,0,1,3.38-3.43,10.3,10.3,0,0,1,9.8,0Zm.59,13.92a8.51,8.51,0,0,0,0-11.17,7.27,7.27,0,0,0-5.47-2.16,7.15,7.15,0,0,0-5.46,2.16,8.63,8.63,0,0,0,0,11.17,7.15,7.15,0,0,0,5.46,2.16A7.27,7.27,0,0,0,364.82,76.24ZM363,70.58a3.16,3.16,0,0,1-1.62,1.11L364,75.58l-3,0-2.25-3.76H358v3.76h-2.44V65.54h4.51a3.73,3.73,0,0,1,2.55.84,2.92,2.92,0,0,1,1,2.3A3.05,3.05,0,0,1,363,70.58Zm-5-.72h1.93a1.31,1.31,0,0,0,.86-.29.93.93,0,0,0,.36-.79.89.89,0,0,0-.36-.78,1.42,1.42,0,0,0-.86-.26H358Z" />
				</g>
			</g>
		</svg>
	</div>
	<!-- END LOGO GRANOTA -->
	<!-- BRIEFINGS -->
	<div class="col-md-6 mt-3 col-sm-12">
		<ul class="custom-table">
			<li class="fw-bold" style="letter-spacing: 0.5px;">ÚLTIMOS BRIEFINGS</li>
			{% for briefing in ultimosbriefingsWeb %}
			<a href="{{ path('briefing_' ~ briefing.tipo|lower ~ '_show', {'id': briefing.id}) }}">
				<li class="table-row">
					<div class="colo" style="flex-basis:70%;">
						<img src="/uploads/logotipos/{{ briefing.empresa.imagenLogotipoRuta }}" alt="Logo"
							class="rounded-circle" style="width: 40px; height: 40px; margin-right:20px">
						<span>{{ briefing.empresa.nombre }}</span>
					</div>
					<div class="colo text-muted" style="flex-basis:15%;">{{ briefing.empresa.code }}</div>
					<div class="colo" style="flex-basis:15%;">
						{{ briefing.tipo|capitalize }}
					</div>
				</li>
			</a>
			{% endfor %}
		</ul>
	</div>
	<!-- END BRIEFINGS -->
	<!-- CLIENTES -->
	<div class="col-md-6 mt-3 col-sm-12">
		<ul class="custom-table">
			<li class="fw-bold" style="letter-spacing: 0.5px;">ÚLTIMOS CLIENTES</li>

			{% for empresa in ultimosclientes %}
			<a href="{{ path('empresa_show', {'id': empresa.id}) }}">
				<li class="table-row">
					<div class="colo" style="flex-basis:80%;">
						<img src="/uploads/logotipos/{{ empresa.imagenLogotipoRuta }}" alt="Logo" class="rounded-circle"
							style="width: 40px; height: 40px; margin-right: 20px;">
						<span class="nombre-empresa-span">{{ empresa.nombre }}</span>
					</div>
					<div class="align-middle text-muted text-center" style="flex-basis:20%;">{{ empresa.code }}</div>
				</li>
			</a>
			{% endfor %}

		</ul>
	</div>
	<!-- END CLIENTES -->
	<!-- INCIDENCIAS -->
	<div class="col-md-6 col-sm-12">
		<ul class="custom-table">
			<li class="fw-bold" style="letter-spacing: 0.5px;">ÚLTIMAS INCIDENCIAS</li>
			{% for incidencia in ultimasincidencias %}
			<a href="{{ path('incidencia_pdf', {'id': incidencia.id}) }}">
				<li class="table-row">
					<div class="colo" style="flex-basis:70%;">
						{% if incidencia.briefingweb is not null and incidencia.briefingweb.empresa is not null %}
						<img src="/uploads/logotipos/{{ incidencia.briefingweb.empresa.imagenLogotipoRuta }}" alt="Logo"
							class="rounded-circle" style="width: 40px; height: 40px; margin-right:20px">


						<span>{{ incidencia.briefingweb.empresa.nombre }}</span>
						{% endif %}
					</div>
					<div class="colo" style="flex-basis:20%;">{{incidencia.titulo}}</div>
					<div class="colo" style="flex-basis:10%;">{{incidencia.tipo}}</div>
				</li>
			</a>
			{% endfor %}
		</ul>
	</div>
	<!-- END INCIDENCIAS -->
	<!-- CONTENIDOS -->
	<div class="col-md-6 col-sm-12">
		<ul class="custom-table">
			<li class="fw-bold" style="letter-spacing: 0.5px;">ÚLTIMOS CONTENIDOS</li>
			{% for contenido in ultimoscontenidos %}
			<a href="{{ path('contenido_show', {'id': contenido.id}) }}">
				<li class="table-row">
					<div class="colo" style="flex-basis:60%;">
						<img src="/uploads/logotipos/{{ contenido.briefingWeb.empresa.imagenLogotipoRuta}}" alt="Logo"
							class="rounded-circle" style="width: 40px; height: 40px; margin-right: 20px;">
						<span>{{ contenido.briefingWeb.empresa.nombre }}</span>
					</div>
					<div class="colo text-muted" style="flex-basis:10%;">
						{{contenido.briefingWeb.empresa.code}}
					</div>
					<div class="colo" style="flex-basis:30%;">{{ contenido.titulo }}</div>
				</li>
			</a>
			{% endfor %}
		</ul>
	</div>
	<!--END CONTENIDOS-->

</div>
{% endblock %}