{% extends 'base.html.twig' %}

{% block title %}Dashboard
{% endblock %}
{% block stylesheets %}
	{{ parent()}}
	{# {{ #encore_entry_link_tags('app') }} #}
	<style>
		body {
			margin: 0;
			padding: 0;
			font-family: 'Arial', sans-serif;
			background-color: rgba(248, 248, 248, 255);
			color: #000;
		}

		/* SIDEBAR */
		#sidebarMenu {
			background-color: #fff;
			height: 100vh;
			width: 250px;
			position: fixed;
			left: 0;
			top: 0;
			padding-top: 20px;
		}

		#sidebarMenu ul {
			padding: 0;
			margin: 0;
			list-style-type: none;
		}

		#sidebarMenu a {
			color: #000;
			text-decoration: none;
			padding: 15px;
			display: block;
		}

		#sidebarMenu a:hover {
			color: #99c21e;
		}
		
		.active {
			color: #99c21e;
		}

		.granota {
			color: #99c21e;
		}

		/* FIN SIDEBAR */

		/* FOOTER */
		footer a {
			color: #000;
			text-decoration: none;
		}

		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}

		.bd-placeholder-img {
			font-size: 1.125rem;
			text-anchor: middle;
			-webkit-user-select: none;
			-moz-user-select: none;
			user-select: none;
		}

		@media(min-width: 768px) {
			.bd-placeholder-img-lg {
				font-size: 3.5rem;
			}
		}
	</style>
{% endblock %}
{% block body %}

	<header class="navbar navbar-dark sticky-top  flex-md-nowrap p-0 shadow" style="background-color: #99c21e;">
		<a
			class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">
			{#<img src="{{ asset('images/myproject-logo.svg') }}" alt="Logo" class="logo"> #}
			<svg xmlns="http://www.w3.org/2000/svg" fill="white" style="width: 125px;" viewbox="0 0 641.3 125.88">
				<g id="Capa_2" data-name="Capa 2">
					<g id="Capa_1-2" data-name="Capa 1"><path d="M98.89,26.45C95,23.5,89.63,22,83.05,22a29.1,29.1,0,0,0-11.89,2.56,37.9,37.9,0,0,0-9.82,6.31,33.2,33.2,0,0,0-2.77,2.81,23.05,23.05,0,0,0-5.42-6.35C48.79,23.8,43.14,22,36.34,22A27.3,27.3,0,0,0,26,24a32,32,0,0,0-8.63,5.21l-.76.66a8.25,8.25,0,0,0-2.16-4.29A8.2,8.2,0,0,0,8.4,23.08a8.29,8.29,0,0,0-6,2.43A8.43,8.43,0,0,0,0,31.62V90.34a8.5,8.5,0,0,0,2.38,6,8.14,8.14,0,0,0,6,2.55,8.13,8.13,0,0,0,6-2.54,8.53,8.53,0,0,0,2.39-6v-37A13.58,13.58,0,0,1,19,45.8a17,17,0,0,1,6.1-5.69A16.73,16.73,0,0,1,33.51,38c3.19,0,5.68.64,7.39,1.9a10.85,10.85,0,0,1,3.82,5.28A24.43,24.43,0,0,1,46,53.35v37a8.5,8.5,0,0,0,2.27,6,8.54,8.54,0,0,0,12.25,0,8.65,8.65,0,0,0,2.27-6V53.76A14,14,0,0,1,65.07,46a17.48,17.48,0,0,1,14.74-8c3.29,0,5.88.66,7.68,2a11,11,0,0,1,3.94,5.38,25.66,25.66,0,0,1,1.31,8.4V90.34a8.49,8.49,0,0,0,2.39,6,8.11,8.11,0,0,0,6,2.55,8.27,8.27,0,0,0,6.15-2.55,8.46,8.46,0,0,0,2.39-6V53.49a47,47,0,0,0-2.39-15.36A24.26,24.26,0,0,0,98.89,26.45Z"/><path d="M178.23,22a8.31,8.31,0,0,0-6.15,2.55,8.5,8.5,0,0,0-2.39,6V68.75a14.39,14.39,0,0,1-2.18,7.8,16,16,0,0,1-5.87,5.64,16.37,16.37,0,0,1-8.25,2c-4.81,0-8.17-1.19-10.29-3.63s-3.32-6.52-3.32-11.86V30.54a8.62,8.62,0,0,0-2.27-5.94,8.44,8.44,0,0,0-12.14-.05,8.49,8.49,0,0,0-2.39,6V71.31A35,35,0,0,0,126,86a23.78,23.78,0,0,0,9.17,10.47,27.61,27.61,0,0,0,14.75,3.76,34.07,34.07,0,0,0,11.32-1.86,29.71,29.71,0,0,0,8.37-4.51,21.32,21.32,0,0,1-2.1,7.18,15.38,15.38,0,0,1-6.46,6.65A22.19,22.19,0,0,1,150.42,110a21.36,21.36,0,0,1-8.11-1.46c-2.68-1.1-4.77-2-6.15-2.57a7.1,7.1,0,0,0-6.49.05A8.9,8.9,0,0,0,125.5,111a7.11,7.11,0,0,0,.47,6.5,11,11,0,0,0,4.84,4.17,32.54,32.54,0,0,0,8.7,3.1,50,50,0,0,0,10.77,1.15,41.4,41.4,0,0,0,18.26-3.95,31.15,31.15,0,0,0,13.21-12.22c3.24-5.4,4.88-12.28,4.88-20.45V30.54a8.5,8.5,0,0,0-2.39-6A8.11,8.11,0,0,0,178.23,22Z"/><path d="M256.1,27.06A33.28,33.28,0,0,0,238,22a32.6,32.6,0,0,0-18.23,5.59,29.22,29.22,0,0,0-2.53,1.95A8.45,8.45,0,0,0,203,25.11a8.42,8.42,0,0,0-2.43,6.1v86.13a8.43,8.43,0,0,0,2.43,6.11,8.25,8.25,0,0,0,6,2.43,8.11,8.11,0,0,0,6.13-2.59,8.69,8.69,0,0,0,2.27-6V92.45c.59.47,1.2.93,1.83,1.37a36.17,36.17,0,0,0,8.68,4.42A31.18,31.18,0,0,0,238.3,100a32.47,32.47,0,0,0,17.9-5.14,36.2,36.2,0,0,0,12.51-14,42.8,42.8,0,0,0,4.59-19.94,42.65,42.65,0,0,0-4.6-20A35.57,35.57,0,0,0,256.1,27.06ZM219.46,48.89a20,20,0,0,1,7-8A18.33,18.33,0,0,1,236.82,38a18,18,0,0,1,10.23,2.88,20.75,20.75,0,0,1,7.08,8,26.13,26.13,0,0,1,2.64,12,26.68,26.68,0,0,1-2.65,12,20.65,20.65,0,0,1-7.07,8.15A18,18,0,0,1,236.82,84a18.41,18.41,0,0,1-10.32-2.89,19.53,19.53,0,0,1-7-8.12,27.06,27.06,0,0,1-2.6-12A26.61,26.61,0,0,1,219.46,48.89Z"/><path d="M327.47,23.14a13.94,13.94,0,0,0-7-1.81,25.93,25.93,0,0,0-10.38,2.07,27.52,27.52,0,0,0-8.32,5.6c-.55.53-1.07,1.08-1.57,1.65A8.38,8.38,0,0,0,298,25.56a8.61,8.61,0,0,0-12.05,0,8.42,8.42,0,0,0-2.43,6.1V90.34a8.48,8.48,0,0,0,2.38,6,8.37,8.37,0,0,0,12,0,8.5,8.5,0,0,0,2.39-6V57.54a21.4,21.4,0,0,1,1.48-8,24.53,24.53,0,0,1,4-6.74A19.84,19.84,0,0,1,311,38.27a10.37,10.37,0,0,1,5.2-1.49,6.31,6.31,0,0,1,2.71.49,10.41,10.41,0,0,0,4.71,1.13,7.79,7.79,0,0,0,5.45-2.25,8.5,8.5,0,0,0,2.41-6.42A7.39,7.39,0,0,0,327.47,23.14Z"/><path d="M401.9,40.54a37.91,37.91,0,0,0-13.62-14.06A37,37,0,0,0,369,21.33a37.23,37.23,0,0,0-33.05,19.21,40.56,40.56,0,0,0-5.05,20.24A40.56,40.56,0,0,0,335.93,81,37.29,37.29,0,0,0,369,100.23a37,37,0,0,0,19.3-5.15A37.91,37.91,0,0,0,401.9,81,40.56,40.56,0,0,0,407,60.78,40.56,40.56,0,0,0,401.9,40.54ZM390,60.78A25.65,25.65,0,0,1,387.2,73a21.35,21.35,0,0,1-7.6,8.26,19.38,19.38,0,0,1-10.62,3,19.63,19.63,0,0,1-10.75-3A22.19,22.19,0,0,1,350.56,73a25.17,25.17,0,0,1-2.88-12.2,25.09,25.09,0,0,1,2.87-12.25,22.29,22.29,0,0,1,7.68-8.23,19.63,19.63,0,0,1,10.75-3,19.38,19.38,0,0,1,10.62,3,21.46,21.46,0,0,1,7.6,8.2A25.56,25.56,0,0,1,390,60.78Z"/><path d="M434.22,2a10.39,10.39,0,0,0-6.78-2,11,11,0,0,0-6.83,2,7.85,7.85,0,0,0-2.92,6.57v1.88a8,8,0,0,0,2.7,6.5c1.65,1.37,3.91,2,6.91,2a10.57,10.57,0,0,0,6.8-2,7.88,7.88,0,0,0,2.82-6.53V8.54A8,8,0,0,0,434.22,2Z"/><path d="M427.44,23a8.17,8.17,0,0,0-6,2.54,8.5,8.5,0,0,0-2.38,6V98a13.45,13.45,0,0,1-1,5.34,8.4,8.4,0,0,1-2.48,3.3,11.58,11.58,0,0,1-4.18,2,11.06,11.06,0,0,0-4.62,2.42,7.17,7.17,0,0,0-2.34,5.48v.94a8,8,0,0,0,8.13,8,21.63,21.63,0,0,0,11.1-3.11,25.28,25.28,0,0,0,8.65-8.56,24.71,24.71,0,0,0,3.5-13.33v-69a8.66,8.66,0,0,0-2.28-5.95A8.07,8.07,0,0,0,427.44,23Z"/><path d="M510.15,31.25a33.14,33.14,0,0,0-11.28-7.42,35.55,35.55,0,0,0-13.11-2.5,33.94,33.94,0,0,0-17.38,4.8,36.05,36.05,0,0,0-13.25,13.81c-3.35,6-5,13.2-5,21.52a40.7,40.7,0,0,0,4.83,20,35.37,35.37,0,0,0,13.7,13.78,41.12,41.12,0,0,0,20.51,5,34.3,34.3,0,0,0,15-3.4A37.8,37.8,0,0,0,515.25,89a8.38,8.38,0,0,0,3.07-6.34,7.61,7.61,0,0,0-7.59-7.59,9.13,9.13,0,0,0-5.22,1.75l-.27.18-.22.24a26.49,26.49,0,0,1-3.82,3.33A19.75,19.75,0,0,1,496,83.19a24.67,24.67,0,0,1-18.93-2A20.82,20.82,0,0,1,469.3,73a23.6,23.6,0,0,1-2.42-7.33h45.74a8.54,8.54,0,0,0,5.76-2.16A7.57,7.57,0,0,0,521,57.62a38.38,38.38,0,0,0-3.09-14.93A37.79,37.79,0,0,0,510.15,31.25ZM468.23,49.72a20,20,0,0,1,4.44-7,17.42,17.42,0,0,1,6.1-3.92,19.33,19.33,0,0,1,15.21.57,18.76,18.76,0,0,1,6.64,5.31,13.19,13.19,0,0,1,2.64,5.72H468C468.07,50.14,468.15,49.93,468.23,49.72Z"/><path d="M585.25,77.49a7.64,7.64,0,0,0-5.75,2.28,13.57,13.57,0,0,1-2.87,2.15,22.54,22.54,0,0,1-4.17,1.63,24.85,24.85,0,0,1-6.65.69,20.3,20.3,0,0,1-11.22-3A21.21,21.21,0,0,1,547,72.89a25.92,25.92,0,0,1-2.76-12.11,24.94,24.94,0,0,1,2.87-12.06,22.33,22.33,0,0,1,7.81-8.35,21.19,21.19,0,0,1,11.43-3,30,30,0,0,1,5.64.55A16.18,16.18,0,0,1,575.86,39a8.74,8.74,0,0,1,2.07,1.44,16.64,16.64,0,0,0,2.65,2.15,8.21,8.21,0,0,0,4.54,1.22A7,7,0,0,0,590.89,41a8.71,8.71,0,0,0,1.82-5.31c0-3.11-1.48-5.86-4.38-8.16a27.22,27.22,0,0,0-9.86-4.59,51.51,51.51,0,0,0-13.33-1.59,36.28,36.28,0,0,0-33,19.54,41.93,41.93,0,0,0-4.74,19.91A43.28,43.28,0,0,0,532,80.71a35.71,35.71,0,0,0,13,14.27,36.39,36.39,0,0,0,19.55,5.25,46.42,46.42,0,0,0,13.86-2,31.22,31.22,0,0,0,10.15-5c3-2.39,4.5-5,4.5-7.61a8.37,8.37,0,0,0-2-5.61A7.44,7.44,0,0,0,585.25,77.49Z"/><path d="M633.31,39.48a7.84,7.84,0,0,0,5.7-2.3,7.7,7.7,0,0,0,2.29-5.56,8.13,8.13,0,0,0-2.24-5.72,7.76,7.76,0,0,0-5.75-2.41H624V13.67a8.66,8.66,0,0,0-2.28-5.95,8,8,0,0,0-6-2.59,8.54,8.54,0,0,0-8.54,8.54v9.82h-5.63a8.21,8.21,0,0,0-5.61,2.2,7.84,7.84,0,0,0-.05,11.47,8,8,0,0,0,5.66,2.32h5.63V79.27c0,4.69.72,8.3,2.18,11.06a14.53,14.53,0,0,0,5.72,6.15,17.1,17.1,0,0,0,6.62,2.12c1.93.18,3.59.28,5,.28a15.2,15.2,0,0,0,7.88-2.11c3.55-2.11,4.3-4.81,4.3-6.69A7.7,7.7,0,0,0,637,84.77a6.22,6.22,0,0,0-4.73-2.28,8.65,8.65,0,0,0-3.64.75,2.68,2.68,0,0,1-1.08.19,5.31,5.31,0,0,1-2-.4,2,2,0,0,1-1-1,7,7,0,0,1-.53-3.34V39.48Z"/></g>
				</g>
			</svg>
		</a>
		<button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="navbar-nav">
			<div class="nav-item text-nowrap">
				<a class="nav-link px-3" href="/logout">Salir</a>
			</div>
		</div>
	</header>


	<div class="container-fluid">
		<div class="row">
			<nav id="sidebarMenu" class="col-md-2 d-flex flex-column justify-content-center align-items-center">
				<div class="position-sticky ">
					<ul class="nav d-flex flex-column">
						<li class="nav-item">
							<a class="nav-link" aria-current="page" href="/dashboard">
								<svg style="width: 16px;" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 576 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"/></svg>
								Inicio
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('dashboard_clientes') }}">
								<svg style="width: 16px;" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg>
								Clientes
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('dashboard_briefings') }}">
								<svg style="width: 16px;" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M96 0C43 0 0 43 0 96V416c0 53 43 96 96 96H384h32c17.7 0 32-14.3 32-32s-14.3-32-32-32V384c17.7 0 32-14.3 32-32V32c0-17.7-14.3-32-32-32H384 96zm0 384H352v64H96c-17.7 0-32-14.3-32-32s14.3-32 32-32zm32-240c0-8.8 7.2-16 16-16H336c8.8 0 16 7.2 16 16s-7.2 16-16 16H144c-8.8 0-16-7.2-16-16zm16 48H336c8.8 0 16 7.2 16 16s-7.2 16-16 16H144c-8.8 0-16-7.2-16-16s7.2-16 16-16z"/></svg>
								Briefings
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('dashboard_contenidos') }}">
								<svg style="width: 16px;" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg>
								Contenidos
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('dashboard_incidencias') }}">
								<svg style="width: 16px;" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480H40c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24V296c0 13.3 10.7 24 24 24s24-10.7 24-24V184c0-13.3-10.7-24-24-24zm32 224a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/></svg>
								Incidencias
							</a>
						</li>

					</ul>
				</div>
			</nav>

			<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 bg-light mt-3 p-3">
				{% block contenido %}{% endblock %}
			</main>
		</div>
	</div>

{% endblock %}
